# General C# project
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
/[Pp]ackages/

# Mod template folders
/[Bb]uild/
/[Dd]ist/
/[Nn]uget/

# Rider

# User specific
.idea

# VS Code files
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

# OS-specific
Thumbs.db
Desktop.ini
.DS_Store

.github
CustomNames.txt